*{
    margin: 0;
    padding: 0;
}

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --cor-de-fundo: #00030C;
    --botoao-cor: #167BF7;
    --fonte-principal: 'Inter'
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("/assests/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{ 
    font-size: 26px;
    font-weight: 700;

}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    text-decoration: none;
    background-color: var(--botoao-cor);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    margin: 1em;
}

.botao__secundario{
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container__paragrafo{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
    
}

.secundario__imagem{
    width: 80%;
    margin: 15%;
    
}

.descricao__titulo{
    font-size: 46px;
    font-weight: 700;
}

.descricao__paragrafo{
    font-size: 18px;
    color: var(--cinza-secundario);
    font-weight: 400;
}

.telas{
 align-items: center;
}

.container__texto{
    margin: 0 6em;
    display: grid;
}

.texto__paragrafo{
    font-size: 16px;
    color: var(--cinza-secundario);
    font-weight: 400;
}

.texto__botao{
    text-decoration: none;
    background-color: var(--botoao-cor);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    width: 10.16em;
    text-align: center;
}

.telas__imagem{
    width: 80%;
    padding: 5%;
    
}